<div class="pt-5 text-center mb-5">
  <form>
    <input
      #LongUrl
      type="text"
      placeholder="Enter link to shorten"
      style="
        padding: 5px;
        border-right-width: 0;
        border: 1px solid black;
        width: 50%;
        height: 32px;
        box-shadow: 0 0 15px lightgray;
      "
    />

    <button
      (click)="shortenUrl(LongUrl.value); LongUrl.value = ''"
      style="box-shadow: 0 0 15px lightgray"
      class="relative -top-0.5 bg-red-600 rounded-e-lg pl-2 pr-2 pt-1 pb-1 hover:bg-red-700 font-semibold font-mono text-white"
    >
      Shorten link
    </button>
  </form>
</div>
