<main
  class="w-screen h-screen"
  style="
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
      sans-serif;
  "
>
  <div
    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-2xl max-w-3xl text-xl pb-4 min-h-52"
    style="
      min-width: 350px;
      box-shadow: 0 0 10px black;
      width: 90vw;
      background: linear-gradient(90deg, rgba(0, 54, 225, 1) 0%, rgba(0, 34, 166, 1) 100%);
    "
  >
    <app-header [hostname]="hostname"></app-header>
    <app-shortener (shortenUrlEvent)="shortenUrl($event)" />
    <app-url-history [refreshEvent]="refreshHistory.asObservable()" />
    <footer class="absolute -bottom-10 text-center left-0 right-0 font-bold font-sans text-sm">
      <p>Copyright &#169; {{ currentYear }} AJ Studio</p>
      <p class="text-blue-950 underline">
        <a href="mailto:contact@myshort.pl">contact&#64;myshort.pl</a>
      </p>
    </footer>
  </div>
</main>

<div class="w-full h-full bg-black fixed top-0 left-0 bg-opacity-50" *ngIf="!cookieConsented">
  <div
    style="box-shadow: 0 0 30px lightslategray; max-width: 380px; border: 1px solid black"
    class="absolute w-full bg-white left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 p-5 font-mono font-semibold text-sm text-justify rounded-lg"
  >
    <p>
      This website uses cookies to save your shortened urls. Please accept cookies if You want to store urls for future
      use.
    </p>
    <p class="text-center">
      <button class="cookie-button" (click)="consentCookie(true)">Yes, I accept Cookies</button>
      <button class="cookie-button" (click)="consentCookie(false)">No, reject Cookies</button>
    </p>
  </div>
</div>
